##############################################
# Settings
##############################################
background yes
use_xft yes
xftfont Source Code Pro Medium:size=15
xftalpha 1
update_interval 999999
total_run_times 0
own_window yes
own_window_class Conky
own_window_transparent no
own_window_type override
own_window_colour 002b36
##############################################
# Compositing tips:
# Conky can play strangely when used with
# different compositors. I have found the
# following to work well, but your mileage
# may vary. Comment/uncomment to suit.
##############################################
## no compositor
#own_window_type override
#own_window_argb_visual no

## xcompmgr
#own_window_type override
#own_window_argb_visual yes

## cairo-compmgr
#own_window_type desktop
#own_window_argb_visual yes
##############################################
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
double_buffer yes
minimum_size 200 200
maximum_width 640
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders no
default_color 93a1a1
default_shade_color 073642
default_outline_color ffffff
alignment top_right
gap_x 12
gap_y 12
no_buffers yes
uppercase no
cpu_avg_samples 2
override_utf8_locale yes #for temp output with an A

##############################################
#  Output
##############################################
TEXT
Super$alignr Show Bar
Super+Space$alignr Run Dialog
Super+w$alignr Window Dialog
${hr}
Super+1$alignr Go to Workspace 1
...
Super+0$alignr Go to Workspace 10
${hr}
Super+h$alignr Horizontal Layout
Super+v$alignr Vertical Layout
Super+r$alignr Resize Windows
${hr}
Super+Shift+1$alignr Move Active Window to WS 1
...
Super+Shift+0$alignr Move Active Window to WS 10
${hr}
Super+up/down/left/right$alignr Select Window
Super+Shift+up/down/left/right$alignr Move Window
${hr}
Super+plus/minus Increase/Decrease Window Gaps
${hr}
Super+Escape$alignr Lock Screen
Super+f$alignr Focused Window Fullscreen Toggle
Super+F$alignr Floating Window Mode Toggle
Super+E$alignr Logout
${hr}
Super+?$alignr Toggle These Keybindings
