##############################################
# Settings
##############################################
background yes
use_xft yes
xftfont Source Code Pro:size=11
xftalpha 1
update_interval 999999
total_run_times 0
own_window yes
own_window_class Conky
own_window_transparent no
own_window_type normal
own_window_colour 111111
##############################################
# Compositing tips:
# Conky can play strangely when used with
# different compositors. I have found the
# following to work well, but your mileage
# may vary. Comment/uncomment to suit.
##############################################
## no compositor
#own_window_type override
#own_window_argb_visual no

## xcompmgr
#own_window_type override
#own_window_argb_visual yes

## cairo-compmgr
#own_window_type desktop
#own_window_argb_visual yes
##############################################
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
double_buffer yes
minimum_size 200 200
maximum_width 640
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders no
default_color FFFFFF
default_shade_color 000000
default_outline_color 000000
alignment top_right
gap_x 12
gap_y 12
no_buffers yes
uppercase no
cpu_avg_samples 2
override_utf8_locale yes #for temp output with an A

##############################################
#  Output
##############################################
TEXT
Launch Terminal$alignr Super+Enter
Launch Browser$alignr Super+Shift+Enter
Launch Application$alignr Super+Space
Choose Window$alignr Super+Ctrl+Space

Go to Workspace 1$alignr Super+1
Go to Workspace n$alignr Super+n
Next Workspace$alignr Super+Tab
Last Workspace$alignr Super+Shift+Tab

Toggle Layout Mode$alignr Super+Backspace

Resize Window Mode$alignr Super+r
Exit Resize Window Mode$alignr Escape
Focused Window Fullscreen Toggle$alignr Super+f
Floating Window Mode Toggle$alignr Super+Shift+f
Kill Active Window$alignr Super+Shift+q

Move Window to WS 1$alignr Super+Shift+1
Move Window to WS n$alignr Super+Shift+n

Change Window Focus$alignr Super+[↑]/[↓]/[←]/[→]
$alignr Super+[k]/[j]/[h]/[l]
Move Window$alignr Super+Shift+[↑]/[↓]/[←]/[→]
$alignr Super+Shift+[k]/[j]/[h]/[l]

Resize Window Gaps$alignr Super+[+]/[-]

Control Center$alignr Super+c

Lock Screen$alignr Super+Escape
Sleep$alignr Super+Shift+s
Logout$alignr Super+Shift+e

Toggle This Window$alignr Super+Shift+?
